---
---

/* droid sans */
@font-face {
    font-family: 'droid_sansregular';
    src: url('{{ site.font_server }}/DroidSans-webfont.eot');
    src: url('{{ site.font_server }}/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.font_server }}/DroidSans-webfont.woff') format('woff'),
         url('{{ site.font_server }}/DroidSans-webfont.ttf') format('truetype'),
         url('{{ site.font_server }}/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* droid sans bold */
@font-face {
  font-family: 'droid_sansbold';
  src: url('{{ site.font_server }}/DroidSans-Bold-webfont.eot');
  src: url('{{ site.font_server }}/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('{{ site.font_server }}/DroidSans-Bold-webfont.woff') format('woff'),
       url('{{ site.font_server }}/DroidSans-Bold-webfont.ttf') format('truetype'),
       url('{{ site.font_server }}/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* droid sans monospace */
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('{{ site.font_server }}/DroidSansMono-webfont.eot');
    src: url('{{ site.font_server }}/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.font_server }}/DroidSansMono-webfont.woff') format('woff'),
         url('{{ site.font_server }}/DroidSansMono-webfont.ttf') format('truetype'),
         url('{{ site.font_server }}/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* arreial */
@font-face {
    font-family: 'arreial';
    src: url('{{ site.font_server }}/arreial.eot');
    src: url('{{ site.font_server }}/arreial.eot') format('embedded-opentype'),
         url('{{ site.font_server }}/arreial.woff2') format('woff2'),
         url('{{ site.font_server }}/arreial.woff') format('woff'),
         url('{{ site.font_server }}/arreial.ttf') format('truetype'),
         url('{{ site.font_server }}/arreial.svg#arreial') format('svg');
}
